@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    @apply h-full; /* Make sure app fills the whole screen */
  }
  body {
    @apply bg-gradient-to-br from-dark-start to-dark-end text-slate-200 font-sans;
  }
}